a {
    cursor: pointer;
}

.jumbotron {
    margin: auto -15px;
}

.row {
    margin-top: 5rem;
}

.margin-top {
    margin-top: 2rem;
}

.my-dropzone {
    width: 100%;
    padding: 5rem;
    border: 5px dashed rgba(0, 0, 0, .25);
    border-radius: 25px;
    font-size: 4rem;
    text-align: center;
    color: rgba(0, 0, 0, .25);
}

.my-dropzone-active {
    border: 5px dashed rgba(0, 255, 0, .75);
    color: rgba(0, 255, 0, .75);
}
